@keyframes change-color {

  from {
    background-color: var(--primary-accent-color);
  }

  50% {
    background-color: var(--secondary-accent-color);
  }

  to {
    background-color: var(--shadow-accent-color);
  }
}

@keyframes breathing-border {

  from {
    border: 4px solid var(--primary-accent-color);
  }

  50% {
    border: 4px solid var(--secondary-accent-color);
  }

  to {
    border: 4px solid var(--shadow-accent-color);
  }
}

@keyframes breathing-text {

  from {
    color: var(--text-color);
  }

  to {
    color: var(--primary-accent-color);
  }
}

.page {
  display: flex;
  flex-direction: column;
  min-block-size: 100vh;
  min-inline-size: 450px;
  padding: var(--padding-xxl);
  font-family: 'Exo2', 'Montserrat', sans-serif;
  font-size: var(--font-size-m);
  background-color: var(--primary-color);
  color: var(--text-color);
}

.block-appearance {
  box-shadow:
    var(--primary-accent-color) 2px 4px,
    var(--secondary-accent-color) 4px 6px,
    var(--shadow-accent-color) 6px 8px;
  border-radius: var(--border-radius-s);
}

.uppercase {
  text-transform: uppercase;
}

.header {
  overflow: hidden;
  display: flex;
  gap: 1.2rem;
  align-items: center;
  background-color: var(--secondary-color);
  margin-bottom: var(--margin-xxl);
  padding: var(--padding-l) var(--padding-xl);
}

.header__icon {
  grid-row: 1;
  min-inline-size: 3rem;
  inline-size: 4rem;
  aspect-ratio: 1/1;
}

.header__title {
  font-family: 'JetBrains Mono', sans-serif;
  font-weight: 700;
}

.header__secret {
  margin-left: var(--margin-s);
  font-size: var(--font-size-l);
  translate: 33% 0;
  visibility: hidden;
  opacity: 0;
  grid-row: 1;
  transition:
    visibility 2s ease-in 1.5s,
    opacity 1s ease-in 1.5s,
    translate 1.5s ease-out 1.5s;
}

.header:hover .header__secret {
  visibility: visible;
  opacity: 1;
  translate: 0 0;
}

.main {
  flex: 1;
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: min-content auto;
}

.main__title {
  margin: 0 var(--margin-m);
  font-size: var(--font-size-xl);
  font-family: 'JetBrains Mono', sans-serif;
  text-align: center;
}

.main__sidebar-nav-title {
  margin: 0 var(--margin-m);
  font-size: var(--font-size-xl);
  font-family: 'JetBrains Mono', sans-serif;
  text-align: center;
  grid-row: 1;
  grid-column: 2;
}

.main__cards {
  grid-column: 1;
  display: grid;
  align-items: start;
  grid-template-columns: repeat(2, 1fr);
  padding: var(--padding-xl);
  gap: 2rem;
}

.card {
  min-inline-size: 300px;
  min-block-size: 350px;
  padding-bottom: var(--padding-m);
  background-color: var(--secondary-color);
  border: 2px solid transparent;
  border-radius: var(--border-radius-m);
  transition:
    border 0.3s,
    transform 0.3s,
    box-shadow 0.5s,
    animation 0.5s;
}

.card:hover {
  border: 2px solid var(--primary-accent-color);
  transform: scale(1.03);
  animation: change-color 2s alternate infinite ease-in-out;
  box-shadow: none;
}

.card:target {
  border: 2px solid var(--primary-accent-color);
  transform: scale(1.03);
  animation: change-color 2s alternate infinite ease-in-out;
  box-shadow: none;
}

.card__image {
  inline-size: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  object-position: center;
  border-radius: var(--border-radius-m) var(--border-radius-m) 0 0;
}

.card__caption {
  block-size: 200px;
  padding: var(--padding-xl);
  overflow: scroll;
  scrollbar-width: none;
}

.card__caption:focus {
  outline: 2px solid var(--text-color);
  border-radius: var(--border-radius-m);
  box-shadow: inset var(--primary-accent-color) 0 0 0 2px;
}

.card__title {
  font-family: 'JetBrains Mono', sans-serif;
  font-weight: 600;
  margin: 0 0 var(--margin-s) 0;
  padding-left: var(--padding-s);
  font-size: var(--font-size-xl);
}

.card__text {
  font-size: var(--font-size-l);
  text-align: justify;
  position: relative;
  padding-left: var(--padding-s);
}

.card__text:before {
  position: absolute;
  content: '';
  inset: 0 auto 0 0;
  inline-size: 3px;
  block-size: 0;
  background-color: transparent;
  border-radius: var(--border-radius-m);
  transition:
    background-color 0.3s,
    block-size 0.3s ease-in;
}

.card:hover .card__text:before {
  block-size: 100%;
  background-color: var(--text-color);
}

.main__sidebar {
  min-inline-size: 250px;
  background-color: var(--secondary-color);
  border-radius: var(--border-radius-m);
  margin: var(--margin-m);
  padding: var(--padding-xl);
  border: 4px solid var(--primary-accent-color);
  animation: breathing-border 3s alternate infinite;
}

.sidebar__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.6rem;
  padding: 0;
  list-style: none;
}

.sidebar__item {
  min-inline-size: 100%;
  block-size: 3.8rem;
  background-color: var(--primary-accent-color);
  border-radius: var(--border-radius-s);
  border: 2px solid transparent;
  transition:
    box-shadow 0.2s,
    scale 0.2s;
  font-size: var(--font-size-m);
  text-align: center;
  text-decoration: none;
}

.sidebar__link {
  font-family: 'JetBrains Mono', sans-serif;
  font-weight: 700;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 100%;
  block-size: 100%;
  font-size: var(--font-size-xl);
  text-decoration: none;
  color: var(--text-color);
}

.sidebar__link:after {
  position: absolute;
  content: '';
  left: 50%;
  bottom: 8px;
  translate: -50% 0;
  inline-size: 0;
  block-size: 3px;
  background-color: var(--text-color);
  border-radius: var(--border-radius-m);
  transition: inline-size 0.3s;
}

.sidebar__link:hover:after {
  inline-size: 40%;
}

.sidebar__link:focus {
  outline: 2px solid var(--text-color);
  border-radius: var(--border-radius-xs);
  box-shadow: inset var(--secondary-accent-color) 0 0 0 2px;
}

.sidebar__item:hover {
  scale: 0.98;
  box-shadow: var(--shadow-accent-color) 4px 4px;
  border: 2px solid white;
  animation: change-color 3s alternate infinite;
}

.footer {
  display: grid;
  grid-template-columns: auto 1fr 4rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1.2rem;
  margin-top: var(--margin-xl);
  padding: var(--padding-xl) var(--padding-xxl) var(--padding-s);
  font-size: var(--font-size-m);
  background-color: var(--secondary-color);
}

.footer__github-link:focus {
  outline: 2px solid var(--text-color);
  outline-offset: 2px;
  border-radius: var(--border-radius-xs);
  box-shadow: var(--primary-accent-color) 0 0 0 2px;
}

.footer__github-icon {
  inline-size: 4rem;
}

.footer__text-container {
  font-family: 'JetBrains Mono', sans-serif;
  font-size: var(--font-size-s);
  margin: 1.5rem 0.5rem 0;
}

.text-container-secret {
  visibility: hidden;
  opacity: 0;
  transition:
    visibility 2s ease-in,
    opacity 1s ease-in;
}

.footer:hover .text-container-secret {
  visibility: visible;
  opacity: 1;
  animation: breathing-text 2s alternate infinite;
}

@media (prefers-reduced-motion: reduce) {

  .card {
    animation: none;
  }

  .card:hover {
    animation: none;
  }

  .card:target {
    animation: none;
    background-color: var(--primary-accent-color);
  }

  .main__sidebar {
    animation: none;
  }

  .sidebar__item:hover {
    animation: none;
    background-color: var(--shadow-accent-color);
  }
}

@media (width >= 1360px) {

  .main__cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (width <= 1000px) {

  .main__cards {
    grid-template-columns: repeat(1, 1fr);
  }

  .header__icon {
    inline-size: 3rem;
  }
}

@media (width <= 700px) {

  .header {
    text-align: center;
  }

  .main {
    grid-template-columns: 1fr;
  }

  .main__sidebar-nav-title {
    grid-row: 1;
    grid-column: 1;
  }

  .main__sidebar {
    grid-row: 2;
    grid-column: 1;
  }

  .sidebar__list {
    display: flex;
    flex-direction: row;
    gap: 0.8rem;
    overflow-x: scroll;
    scrollbar-width: none;
  }

  .sidebar__item {
    min-inline-size: max-content;
    padding-inline: 1.2rem;
  }
}
