@keyframes change-color {
  from {
    background-color: var(--primary-accent-color);
  }
  50% {
    background-color: var(--secondary-accent-color);
  }
  to {
    background-color: var(--shadow-accent-color);
  }
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: var(--padding-m);
  font-family: 'Montserrat', sans-serif;
  font-size: var(--font-size-m);
  background-color: var(--primary-color);
  color: var(--text-color);
}

.block-appearance {
  box-shadow: var(--primary-accent-color) 2px 4px,
  var(--secondary-accent-color) 4px 6px,
  var(--shadow-accent-color) 6px 8px;
  border-radius: var(--border-radius-s);
}

.uppercase {
  text-transform: uppercase;
}

.header {
  display: flex;
  gap: 1rem;
  align-items: center;
  background-color: var(--secondary-color);
  margin-bottom: var(--margin-xl);
  padding: var(--padding-l);
}

.header__icon {
  grid-row: 1;
  inline-size: 3.5rem;
  aspect-ratio: 1/1;
}

.header__title {
  grid-row: 1;
}

.header__secret {
  margin-left: var(--margin-s);
  font-size: var(--font-size-l);
  translate: 33% 0;
  visibility: hidden;
  opacity: 0;
  grid-row: 1;
  transition: visibility 2s ease-in 1.5s, opacity 1s ease-in 1.5s, translate 1.5s ease-out 1.5s;
}

.header:hover .header__secret {
  visibility: visible;
  opacity: 1;
  translate: 0 0;
}

.main {
  flex: 1;
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: min-content auto;
}

.main__title {
  margin: 0 var(--margin-m);
  font-size: var(--font-size-xl);
  text-align: center;
}

.main__sidebar-nav-title {
  margin: 0 var(--margin-m);
  font-size: var(--font-size-xl);
  text-align: center;
  grid-row: 1;
  grid-column: 2;
}

.main__cards {
  grid-column: 1;
  align-items: start;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  padding: var(--padding-l);
}

.card {
  min-block-size: 300px;
  background-color: var(--secondary-color);
  border-radius: var(--border-radius-m);
  transition: border 0.3s, transform 0.3s, box-shadow 0.5s, animation 0.5s;
}

.card:hover {
  border: 2px solid var(--primary-accent-color);
  transform: scale(1.03);
  animation: change-color 3s alternate infinite ease-in-out;
  box-shadow: none;
}

.card__image {
  inline-size: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  border-radius: var(--border-radius-m) var(--border-radius-m) 0 0;
}

.card__caption {
  block-size: 150px;
  padding: var(--padding-xl);
  overflow: scroll;
}

.main__sidebar {
  background-color: var(--secondary-color);
  border-radius: var(--border-radius-s);
  margin: var(--margin-m);
  padding: var(--padding-m);
}

.sidebar__list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0;
  list-style: none;
}

.sidebar__button {
  inline-size: 100%;
  padding: var(--padding-xs);
  aspect-ratio: 16/4;
  background-color: var(--primary-accent-color);
  border-radius: var(--border-radius-xs);
  border: none;
  transition: box-shadow 0.2s, scale 0.2s;
}

.sidebar__button:hover {
  scale: 0.98;
  box-shadow: var(--secondary-accent-color) 4px 3px;
  border: 2px solid white;
}

.footer {
  text-align: center;
  font-size: var(--font-size-m);
  background-color: var(--secondary-color);
  padding: var(--padding-l);
}