.page {
  padding: var(--padding-m);
  font-family: 'Montserrat', sans-serif;
  font-size: var(--font-size-m);
  background-color: var(--primary-color);
  color: var(--text-color);
}

.block-appearance {
  box-shadow:
    var(--primary-accent-color) 2px 4px,
    var(--secondary-accent-color) 4px 6px,
    var(--shadow-accent-color) 6px 8px;
  border-radius: var(--border-radius-s);
}

.uppercase {
  text-transform: uppercase;
}

.header {
  display: flex;
  gap: 1rem;
  align-items: center;
  background-color: var(--secondary-color);
  margin-bottom: var(--margin-xl);
  padding: var(--padding-l);
}

.header__icon {
  grid-row: 1;
  inline-size: 3.5rem;
  aspect-ratio: 1/1;
}

.header__title {
  grid-row: 1;
}

.header__secret {
  margin-left: var(--margin-s);
  font-size: var(--font-size-l);
  translate: 33% 0;
  visibility: hidden;
  opacity: 0;
  grid-row: 1;
  transition:
    visibility 2s ease-in 1.5s,
    opacity 1s ease-in 1.5s,
    translate 1.5s ease-out 1.5s;
}

.header:hover .header__secret {
  visibility: visible;
  opacity: 1;
  translate: 0 0;
}

.main {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: min-content auto;
}

.main__title {
  display: block;
  grid-column: span 2;
}

.main__cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  padding: var(--padding-l);
}

.card {
  max-block-size: 550px;
  background-color: var(--secondary-color);
  border-radius: var(--border-radius-m);
  box-shadow:
    var(--primary-accent-color) 2px 4px,
    var(--secondary-accent-color) 4px 6px,
    var(--shadow-accent-color) 6px 8px;
  transition: border 0.3s, transform 0.3s;
}

.card:hover {
  border: 2px solid var(--primary-accent-color);
  transform: scale(1.03);
}

.card__image {
  inline-size: 100%;
  block-size: 65%;
  border-radius: var(--border-radius-m) var(--border-radius-m) 0 0;
}

.card__caption {
  padding: var(--padding-s)
}

.main__sidebar {
  background-color: var(--secondary-color);
  border-radius: var(--border-radius-s);
  margin: var(--margin-m);
}

.footer {
  background-color: var(--secondary-color);
  padding: var(--padding-l);
}