:root {
  --white: #fff;
  --dark-gray: rgb(22 22 22);
  --light-gray: rgb(33 33 33);

  --text-color: var(--white);
  --primary-color: var(--dark-gray);
  --secondary-color: var(--light-gray);
  --primary-accent-color: rgb(149, 45, 202);
  --secondary-accent-color: rgb(113, 16, 161);
  --shadow-accent-color: rgb(87, 8, 129);

  --size-xxs: 0.5rem;
  --size-xs: 0.7rem;
  --size-s: 0.85rem;
  --size-m: 1rem;
  --size-l: 1.2rem;
  --size-xl: 1.4rem;
  --size-xxl: 2rem;

  --font-size-xs: var(--size-xs);
  --font-size-s: var(--size-s);
  --font-size-m: var(--size-m);
  --font-size-l: var(--size-l);
  --font-size-xl: var(--size-xl);
  --font-size-xxl: var(--size-xxl);

  --padding-xxs: var(--size-xxs);
  --padding-xs: var(--size-xs);
  --padding-s: var(--size-s);
  --padding-m: var(--size-m);
  --padding-l: var(--size-l);
  --padding-xl: var(--size-xl);
  --padding-xxl: var(--size-xxl);

  --margin-xxs: var(--size-xxs);
  --margin-xs: var(--size-xs);
  --margin-s: var(--size-s);
  --margin-m: var(--size-m);
  --margin-l: var(--size-l);
  --margin-xl: var(--size-xl);
  --margin-xxl: var(--size-xxl);

  --border-radius-xs: 0.7rem;
  --border-radius-s: 1rem;
  --border-radius-m: 2rem;
}
