:root {
  --text-color: #fff;
  --primary-color: rgb(22, 22, 22);
  --secondary-color: rgb(33, 33, 33);
  --primary-accent-color: rgb(172, 59, 230);
  --secondary-accent-color: rgb(131, 23, 184);
  --shadow-accent-color: rgb(107, 8, 161);

  --size-xs: 0.6rem;
  --size-s: 0.8rem;
  --size-m: 1rem;
  --size-l: 1.2rem;
  --size-xl: 1.4rem;
  --size-xxl: 1.8rem;

  --font-size-xs: var(--size-xs);
  --font-size-s: var(--size-m);
  --font-size-m: var(--size-m);
  --font-size-l: var(--size-l);
  --font-size-xl: var(--size-xl);
  --font-size-xxl: var(--size-xxl);

  --padding-xs: var(--size-xs);
  --padding-s: var(--size-s);
  --padding-m: var(--size-m);
  --padding-l: var(--size-l);

  --margin-xs: var(--size-xs);
  --margin-s: var(--size-s);
  --margin-m: var(--size-m);
  --margin-l: var(--size-l);
  --margin-xl: var(--size-xl);
  --margin-xxl: var(--size-xxl);

  --border-radius-s: 1rem;
  --border-radius-m: 2rem;
}